@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

:root{
    --primary-color: #0A1720;
    --secondary-color: #4BA69F;
    --tertiary-color: #94C0A1;
    --quaternary-color: #121F28;
    --quinary-color: #B7D5CB;
}

html{
    overflow-y: scroll;
}

html, body{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    width: calc(100vw - 10px)
}

.container{
    margin: 85px auto 0 auto;
    width: 80%;
    padding: 1rem;
}

.centered-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 6rem;
    }

    p{
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
    }
}

.bio{
    max-width: 80ch;
}

.centered-text{
    text-align: center;
    width: 100%;
}

p{
    color: var(--secondary-color);
    margin: 1rem 0;
}

a{
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    color: var(--quinary-color);
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--tertiary-color);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

@media screen and (max-width: 767px) {
    .container{
        width: 95%;
    }

    .centered-content{
        h1{
            font-size: 3rem;
        }
    
        p{
            font-size: 1rem;
        }
    }
}